{
    "attributes":{},
    "email":"{{ user_email }}",
    "emailVerified":true,
    "enabled":true,
    "firstName":"{{ user_firstName }}",
    "lastName":"{{ user_lastName }}",
    "username":"{{ username }}"
}
