version: "3"

networks:
  exlskills:

services:
  web-client:
    container_name: web-client.exlskills
    image: {{ node_base_image }}
    ports:
      - {{ ports_on_host.web_client }}:4000
    working_dir: /app
    volumes:
      - {{ codebase_hostpath }}/web-client:/app
    entrypoint:
      - yarn
      - run
      - start
    networks:
      - exlskills

  auth-server:
    container_name: auth-server.exlskills
    image: {{ node_base_image }}
    ports:
      - {{ ports_on_host.auth_server }}:3030
    working_dir: /app
    volumes:
      - {{ codebase_hostpath }}/auth-server:/app
    entrypoint:
      - npm
      - start
    networks:
      - exlskills

  gql-server:
    container_name: gql-server.exlskills
    image: {{ node_base_image }}
    ports:
      - {{ ports_on_host.gql_server }}:8080
    working_dir: /app
    volumes:
      - {{ codebase_hostpath }}/gql-server:/app
    entrypoint:
      - npm
      - start
    networks:
      - exlskills      

  usi-server:
    container_name: usi-server.exlskills
    image: {{ node_base_image }}
    ports:
      - {{ ports_on_host.usi_server }}:5002
    working_dir: /app
    volumes:
      - {{ codebase_hostpath }}/usi-server:/app
    entrypoint:
      - npm
      - start
    networks:
      - exlskills

  exlcode-ide:
    container_name: exlcode-ide.exlskills
    build:
      context: {{ codebase_hostpath }}/exlcode-ide
    ports:
      - {{ ports_on_host.exlcode_ide }}:80
    entrypoint:
      - nginx 
      - -g 
      - 'daemon off;'
    networks:
      - exlskills      

  exlcode-repl:
    container_name: exlcode-repl.exlskills
    build:
      context: {{ codebase_hostpath }}/exlcode-repl
    ports:
      - {{ ports_on_host.exlcode_repl }}:80
    entrypoint:
      - nginx 
      - -g 
      - 'daemon off;'
    networks:
      - exlskills            