SESSION_SECRET=set_me
KEYCLOAK_HOST=""http://localhost:{{ ports_on_host.keycloak }}""
KEYCLOAK_CLIENT_SECRET="{{ keycloak_client_secret }}"
IC_SECRET=set_me
SMTP_PASSWORD=set_me
ZOHO_ORG_ID=set_me
ZOHO_AUTH_TOKEN=set_me
EXL_INTERNAL_QUERY_API_KEY=set_me
MEMCACHED_URL="{{ memcached_url }}"
DB_URI="{{ mongo_uri }}"
DB_NAME="{{ mongo_db }}"
