MEMCACHED_URL={{ memcached_url }}
DB_URI={{ mongo_uri }}
DB_NAME={{ mongo_db }}
DB_RECONNECT_TIMEOUT=5000
SESSION_SECRET=set_me
KEYCLOAK_HOST={{ keycloak_host_url }}
KEYCLOAK_REALM={{ keycloak_realm }}
KEYCLOAK_CLIENT_SECRET={{ keycloak_client_secret }}
KEYCLOAK_CLIENT_ID={{ keycloak_client_id }}
KEYCLOAK_CALLBACK_URL=/auth/keycloak/callback
COOKIES_DOMAIN=localhost
SERVICE_PORT={{ (projects_in_scope | selectattr('name','equalto','auth-server') | first).container_port }}
CLIENT_URL=http://localhost:{{ ports_on_host.web_client }}
CORS_REGEX=localhost
IC_SECRET=set_me
JWT_COOKIE_NAME=token
JWT_PUB_KEY_FILE=
JWT_PRIV_KEY_FILE=
JWT_PUB_KEY_B64=
JWT_PRIV_KEY_B64=
USER_DATA_COOKIE_NAME=user_data
EXL_INTERNAL_QUERY_API_KEY=set_me
BOT_MANAGER_API_KEY=set_me
BOT_MANAGER_API_URL=http://localhost:2999
ZOHO_ORG_ID=set_me
ZOHO_AUTH_TOKEN=set_me
ZOHO_EVENTS_API_KEY=set_me
LOGGING_LEVEL=debug
DB_DEBUG_LOG=true
STRIPE_SECRET_KEY='set_me'
STRIPE_PLANS_CREDITS_METERED_USD_ID='set_me'