WEB_PORT=3000
WEB_AUTH_API_BASE_URL=http://{{ host_dockernetwork_ip }}:{{ ports_on_host.auth_server }}
WEB_GQL_ENDPOINT=http://{{ host_dockernetwork_ip }}:{{ ports_on_host.gql_server }}/graph
WEB_INTERCOM_SECRET=set_me
WEB_CLIENT_BASE_URL=http://localhost:{{ ports_on_host.spf_server }}
WEB_BOT_MANAGER_API_KEY=set_me
WEB_BOT_MANAGER_API_URL=http://localhost:2999
WEB_TMPL_WS_USI_ENDPOINT=ws://localhost:{{ ports_on_host.usi_server }}/v0/wsusi
WEB_COOKIES_DOMAIN=localhost

# Template constants
WEB_TMPL_LOGOUT_URL=http://{{ host_dockernetwork_ip }}:{{ ports_on_host.keycloak }}/auth/realms/exlinc/protocol/openid-connect/logout?redirect_uri=http%3A%2F%2Flocalhost%3A{{ ports_on_host.spf_server }}%2Flearn
WEB_TMPL_STRIPE_PUB_KEY=set_me
WEB_TMPL_ERASE_DATA_FORM_URL=https://exlinc.typeform.com/to/X0MWrR
WEB_TMPL_IC_APP_ID=set_me
WEB_TMPL_ACCOUNTS_URL=http://{{ host_dockernetwork_ip }}:{{ ports_on_host.keycloak }}/auth/realms/exlinc/account
WEB_TMPL_HELP_BASE_URL=https://help.exlskills.com
WEB_TMPL_PRIVACY_POLICY_AND_TERMS_URL=https://exlinc.com/legal
WEB_TMPL_SUBSCRIBERS_SITE_ID=set_me

# Public URL for the auth API to be accessed client-side
WEB_TMPL_AUTH_API_BASE_URL=http://localhost:{{ ports_on_host.auth_server }}

# Public URL for the gql API to be access client-side
WEB_TMPL_GQL_ENDPOINT=http://localhost:{{ ports_on_host.gql_server }}/graph
WEB_TMPL_GA_TRACKING_ID=UA-122120459-2