PORT={{ (projects_in_scope | selectattr('name','equalto','usi-server') | first).container_port }}
CORS_REGEX=localhost
DB_URI={{ mongo_uri }}
DB_NAME={{ mongo_db }}
DB_RECONNECT_TIMEOUT=5000
JWT_PUB_KEY_FILE=
JWT_PUB_KEY_B64=
