WS_USI_URL=ws://localhost:{{ ports_on_host.usi_server }}/v0/wsusi
CLIENT_URL=http://localhost:{{ ports_on_host.web_client }}/learn
GRAPHQL_BASE_URL=http://localhost:{{ ports_on_host.gql_server }}
GRAPHQL_PATH=graph
EDITOR_BASE_URL=https://exlcode.com/repl
AUTH_BASE_URL=http://localhost:{{ ports_on_host.auth_server }}
NODE_ENV=debug
PORT={{ (projects_in_scope | selectattr('name','equalto','web-client') | first).container_port }}
ACCOUNTS_URL={{ keycloak_host_url }}/auth/realms/exlinc/account
BILLING_CONSOLE_URL=https://billing.exlinc.com/portal/exlinc
SUPPORT_CONSOLE_URL=https://support.exlinc.com/portal/home
PRIVACY_POLICY_AND_TOS_URL=https://exlinc.com/legal/
ERASE_MY_DATA_FORM_URL=https://exlinc.typeform.com/to/X0MWrR
IC_APP_ID=
STRIPE_PUB_KEY={{ stripe_pub_key }}